// =========================================================
// * Soft UI Dashboard Pro - v1.0.4
// =========================================================
//
// * Product Page: https://www.creative-tim.com/product/soft-ui-dashboard-pro
// * Copyright 2021 Creative Tim (https://www.creative-tim.com)
//
// Coded by www.creative-tim.com
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

// Bootstrap Functions
@import "soft-ui-dashboard/bootstrap/functions";

// Custom Variables
@import "soft-ui-dashboard/custom/variables";

// Theme Variables
@import "soft-ui-dashboard/variables";

// Bootstrap Core
@import "soft-ui-dashboard/bootstrap/bootstrap";

// Theme Core
@import "soft-ui-dashboard/theme";

// Custom Variables
@import "soft-ui-dashboard/custom/styles";

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pointer {
  cursor: pointer;
}

.align-items-center {
  display: flex;
  align-items: center;
  gap: 6px;
}

.justify-conten-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.project-button {
  display: flex;
  justify-content: space-evenly;

  button {
    color: #898989;
    padding: 2px 8px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #89898991;
    box-shadow: 0 0 4px 0px #82d616;

    &.active {
      background-color: #ffffff;
      &:nth-child(1) {
        box-shadow: 0 0 6px 1px #82d616;
        border: 1px solid #82d616;
        color: #82d616;
      }
      &:nth-child(2) {
        box-shadow: 0 0 6px 1px #fbcf33;
        border: 1px solid #fbcf3391;
        color: #fbcf33;
      }
      &:nth-child(3) {
        box-shadow: 0 0 6px 1px #cb0c9f;
        border: 1px solid #cb0c9f;
        color: #cb0c9f;
      }
    }
  }
}

.tabs-container {
  display: flex;
  align-items: center;
  gap: 24px;

  button {
    background-color: #fff;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    padding: 6px 22px;
    color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0 0 8px 1px #c0c0c0d7;

    &:nth-child(1) {
      background-color: #17c1e8d7;
    }
    &:nth-child(2) {
      background-color: #82d616d7;
    }
    &:nth-child(3) {
      background-color: #fbcf33d7;
    }
    &:nth-child(4) {
      background-color: #cb0c9fd7;
    }

    &.active {
      &:nth-child(1) {
        color: #fff;
        background-color: #17c1e8d7;
        box-shadow: 0 0 8px 1px #17c1e8d7;
      }
      &:nth-child(2) {
        color: #fff;
        background-color: #82d616d7;
        box-shadow: 0 0 8px 1px #82d616d7;
      }
      &:nth-child(3) {
        color: #fff;
        background-color: #fbcf33d7;
        box-shadow: 0 0 8px 1px #fbcf33d7;
      }
      &:nth-child(4) {
        color: #fff;
        background-color: #cb0c9fd7;
        box-shadow: 0 0 8px 1px #cb0c9fd7;
      }
    }
  }
}

.fullView {
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.view-button {
  border-radius: 8px;
  padding: 2px 8px;
  color: #f1f1f1;
  background-color: #344767;
}

.action-btn {
  background-color: #82d616;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputField {
  width: 100%;
  padding: 4px 14px;
  border-radius: 8px;
  border: 1px solid #82d616;
}
.inputField:focus {
  border: 2px solid #cb0c9f; /* Change the border color when in focus */
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 4px #cb0c9f;
}
.inputField:active {
  background-color: #f8f9fa;
}
.dropdownOptions {
  border-radius: 8px;
}

/* Add these styles or adjust as needed */
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-card {
  position: absolute;
  left: -150px; /* Adjust as needed */
  top: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  z-index: 1;
}

.dropdown-card button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-card button:hover {
  background-color: #0056b3;
}

.active-color {
  color: #82d616;
}
