// =========================================================
// * Soft UI Dashboard Pro - v1.0.4
// =========================================================
//
// * Product Page: https://www.creative-tim.com/product/soft-ui-dashboard-pro
// * Copyright 2021 Creative Tim (https://www.creative-tim.com)
//
// Coded by www.creative-tim.com
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

// Bootstrap Functions
@import "soft-ui-dashboard/bootstrap/functions";

// Custom Variables
@import "soft-ui-dashboard/custom/variables";

// Theme Variables
@import "soft-ui-dashboard/variables";

// Bootstrap Core
@import "soft-ui-dashboard/bootstrap/bootstrap";

// Theme Core
@import "soft-ui-dashboard/theme";

// Custom Variables
@import "soft-ui-dashboard/custom/styles";

.bg-gradient-pink {
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-green {
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #78ffd6,
    #a8ff78
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #78ffd6,
    #a8ff78
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-pree {
  background: #db8bd1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fff,
    #db8bd1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fff,
    #db8bd1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-parrot {
  background: #fdfc47; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #24fe41,
    #fdfc47
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #24fe41,
    #fdfc47
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-pale {
  background: #eacda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #d6ae7b,
    #eacda3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #d6ae7b,
    #eacda3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calendar-loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.calendar-loader::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}

.delete-icon {
  background-color: #cb0c0c;
  color: #fff;
  padding: 5px 10px;
  width: min-content;
  border-radius: 50%;
  float: right;
}

.filter-tabs {
  height: 60px;
}
.filter-tabs > button {
  margin-right: 20px;
  border: 5px solid transparent;
}
.active-btn {
  border-bottom: 5px solid rgb(5, 34, 250) !important;
  border-top: 5px solid rgb(5, 34, 250) !important;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pointer {
  cursor: pointer;
}

.is-bold-italic {
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}

.align-items-center {
  display: flex;
  align-items: center;
  gap: 6px;
}

.overflow-auto {
  display: flex;
  overflow: auto;
}

.justify-conten-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.project-button {
  display: flex;
  justify-content: space-between;

  button {
    padding: 2px 2px;
    transition: all 0.3s ease-in-out;
  }
}

.switch {
  div {
    text-align: center;
  }

  input {
    display: block;
    opacity: 0;
    transition: all 0.3s; /* Added transition property */
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }

  label {
    position: relative;
    width: 50px;
    height: 28px;
    display: inline-block;
    background: #666666;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }

  label:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 23px;
    height: 23px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 3px 6px #747474;
    transition: all 0.3s; /* Added transition property */
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  input:checked + label {
    background: #4add4a;
    transition: all 0.3s; /* Added transition property */
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }

  input:checked + label:after {
    left: auto;
    right: 2px;
    transition: all 0.3s; /* Added transition property */
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
}
.tabs-container {
  display: flex;
  align-items: center;
  gap: 24px;

  button {
    background-color: #fff;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    padding: 6px 22px;
    color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0 0 8px 1px #c0c0c0d7;

    &:nth-child(1) {
      background-color: #17c1e8d7;
    }
    &:nth-child(2) {
      background-color: #82d616d7;
    }
    &:nth-child(3) {
      background-color: #fbcf33d7;
    }
    &:nth-child(4) {
      background-color: #cb0c9fd7;
    }

    &.active {
      &:nth-child(1) {
        color: #fff;
        background-color: #17c1e8d7;
        box-shadow: 0 0 8px 1px #17c1e8d7;
      }
      &:nth-child(2) {
        color: #fff;
        background-color: #82d616d7;
        box-shadow: 0 0 8px 1px #82d616d7;
      }
      &:nth-child(3) {
        color: #fff;
        background-color: #fbcf33d7;
        box-shadow: 0 0 8px 1px #fbcf33d7;
      }
      &:nth-child(4) {
        color: #fff;
        background-color: #cb0c9fd7;
        box-shadow: 0 0 8px 1px #cb0c9fd7;
      }
    }
  }
}

.view-button {
  border-radius: 8px;
  padding: 6px 14px;
  color: #f1f1f1;
  background-color: #344767;
}

.action-btn {
  background-color: #82d616;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputField {
  width: 100%;
  padding: 4px 14px;
  border-radius: 8px;
  border: 1px solid #82d616;
}
.inputField:focus {
  border: 2px solid #cb0c9f; /* Change the border color when in focus */
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 4px #cb0c9f;
}
.inputField:active {
  background-color: #f8f9fa;
}
.dropdownOptions {
  border-radius: 8px;
}

/* Add these styles or adjust as needed */
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-card {
  position: absolute;
  left: -150px; /* Adjust as needed */
  top: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  z-index: 1;
}

.dropdown-card button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-card button:hover {
  background-color: #0056b3;
}

.active-color {
  color: #82d616;
}

.hidemobile {
  display: block;
}
.hideLaptop {
  display: none;
}
.showmobile {
  display: block;
}

@media only screen and (max-width: 768px) {
  .hidemobile {
    display: none;
  }
  .mobileWidth {
    width: 1080px;
  }
  .hideLaptop {
    display: block;
  }
  .showmobile {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .hidemobile {
    display: block;
  }
  .hideLaptop {
    display: none;
  }
  .showmobile {
    display: none;
  }
}

// divider
.divider {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 1px;
  background-color: rgba(172, 172, 172, 0.418);
  margin: 6px;
}
